<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <link rel="icon" href="{{ asset('img/glider.svg') }}">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <header class="site-header" style="background-image: url({{ asset('img/background.jpg') }})">
            <span class="site-title">My Symfony Site</span>
        </header>
        <nav>
            <ul>
                <li><a href="{{ path('home') }}">Home</a></li>
                <li><a href="{{ path('about') }}">About</a></li>
                <li><a href="{{ path('me') }}">Me</a></li>
                <li><a href="{{ path('report') }}">Report</a></li>
                <li><a href="{{ path('lucky_number') }}">Lucky number</a></li>
                <li><a href="{{ path('card') }}">Cards</a></li>
                <li><a href="{{ path('api') }}">Api</a></li>
            </ul>
        </nav>
        </header>
        <main>
        {% block body %}{% endblock %}
        </main>
        <footer>
            <p>&copy; 2023 My Symfony Site</p>
            <p>Made with <span class="heart">&#x2764;</span> by Lea Alfawaz</p>
        </footer>
    </body>
</html>
